* {
  font-size: 100%;
  font-weight: bold;
  font-style: normal;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

section,
figure {
  display: block;
}

@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  font: bold 1.8rem "Source Sans Pro", sans-serif;
  line-height: 1.5;
  background: #4d4d4d;
  color: #777;
}

@media (min-width: 43em) {
  body {
    font-size: 2.5rem;
  }
}

.page {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #666666;
  overflow-y: auto;
  -webkit-animation: rise 1s both;
  animation: rise 1s both;
}

.card.allow-access {
  background: #333333;
  -webkit-animation: none;
  animation: none;
}

.card.getting {
  background: #1a1a1a;
}

.card.final {
  background: black;
}

@-webkit-keyframes rise {
  from {
    -webkit-transform: translateY(140%);
    transform: translateY(140%);
  }
}

@keyframes rise {
  from {
    -webkit-transform: translateY(140%);
    -ms-transform: translateY(140%);
    transform: translateY(140%);
  }
}

.container {
  margin: 0 auto;
  max-width: 82rem;
  padding: 1.5rem;
}

@media (min-width: 28em) {
  .container {
    padding: 2rem;
  }
}

h1 {
  display: inline;
}

h1:nth-child(1) {
  color: rgba(255, 194, 86, 0.75);
}

h1:nth-child(1) em {
  color: #ffc256;
}

h1:nth-child(2) {
  color: rgba(243, 199, 85, 0.75);
}

h1:nth-child(2) em {
  color: #f3c755;
}

h1:nth-child(3) {
  color: rgba(230, 204, 87, 0.75);
}

h1:nth-child(3) em {
  color: #e6cc57;
}

h1:nth-child(4) {
  color: rgba(216, 208, 91, 0.75);
}

h1:nth-child(4) em {
  color: #d8d05b;
}

h1:nth-child(5) {
  color: rgba(203, 212, 97, 0.75);
}

h1:nth-child(5) em {
  color: #cbd461;
}

h1:nth-child(6) {
  color: rgba(189, 216, 105, 0.75);
}

h1:nth-child(6) em {
  color: #bdd869;
}

h1:nth-child(7) {
  color: rgba(176, 219, 114, 0.75);
}

h1:nth-child(7) em {
  color: #b0db72;
}

h1:nth-child(8) {
  color: rgba(162, 221, 124, 0.75);
}

h1:nth-child(8) em {
  color: #a2dd7c;
}

h1:nth-child(9) {
  color: rgba(148, 224, 135, 0.75);
}

h1:nth-child(9) em {
  color: #94e087;
}

h1:nth-child(10) {
  color: rgba(133, 225, 147, 0.75);
}

h1:nth-child(10) em {
  color: #85e193;
}

h1:nth-child(11) {
  color: rgba(118, 227, 159, 0.75);
}

h1:nth-child(11) em {
  color: #76e39f;
}

h1:nth-child(12) {
  color: rgba(103, 228, 171, 0.75);
}

h1:nth-child(12) em {
  color: #67e4ab;
}

h1:nth-child(13) {
  color: rgba(87, 229, 184, 0.75);
}

h1:nth-child(13) em {
  color: #57e5b8;
}

h1:nth-child(14) {
  color: rgba(70, 229, 196, 0.75);
}

h1:nth-child(14) em {
  color: #46e5c4;
}

h1:nth-child(15) {
  color: rgba(52, 229, 208, 0.75);
}

h1:nth-child(15) em {
  color: #34e5d0;
}

h1:nth-child(16) {
  color: rgba(33, 229, 219, 0.75);
}

h1:nth-child(16) em {
  color: #21e5db;
}

h1:nth-child(17) {
  color: rgba(11, 229, 229, 0.75);
}

h1:nth-child(17) em {
  color: #0be5e5;
}

.loading-dots span {
  display: inline-block;
  -webkit-animation: loading 1s ease-in-out infinite;
  animation: loading 1s ease-in-out infinite;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}

.loading-dots span:nth-child(2) {
  -webkit-animation-delay: .33s;
  animation-delay: .33s;
}

.loading-dots span:nth-child(3) {
  -webkit-animation-delay: .66s;
  animation-delay: .66s;
}

@-webkit-keyframes loading {
  40% {
    -webkit-transform: translate3d(0, -0.15em, 0);
    transform: translate3d(0, -0.15em, 0);
  }
}

@keyframes loading {
  40% {
    -webkit-transform: translate3d(0, -0.15em, 0);
    -ms-transform: translate3d(0, -0.15em, 0);
    transform: translate3d(0, -0.15em, 0);
  }
}

em {
  font-weight: bolder;
}

sup {
  display: inline-block;
  font-size: 1.5rem;
  vertical-align: baseline;
  padding-left: 0.225rem;
}

input,
button {
  font: inherit;
  background: transparent;
  color: #f3c755;
}

input:hover,
input:focus,
button:hover,
button:focus {
  outline: 0;
}

input {
  display: block;
  box-shadow: inset 0 0 0 0.25rem rgba(255, 194, 86, 0.75);
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  width: 100%;
  max-width: 40rem;
  margin-top: .75em;
  -webkit-transition: border-color .3s, box-shadow .3s;
  transition: border-color .3s, box-shadow .3s;
}

button {
  display: inline-block;
  cursor: pointer;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format("woff");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGIqjGYJUyOXcBwUQbRaNH6c.woff) format("woff");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local("Source Sans Pro Black"), local("SourceSansPro-Black"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGC7eGk4PJkA83J1AXCmgUfc.woff) format("woff");
}